/**********************************************
GENERAL
**********************************************/

body {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 1575px;
  background-size: 100%;

}

.wrapper {
  width: 51.2%;
  margin-left: 24.4%;
  height: 25.8%;
  margin-top: .4%
}

.mid {
  margin-top: 0;
  height: 275px;
}
/**********************************************
TOP NAV
**********************************************/

.topSection {
  height: 25%;
}

.topSection nav {
  height:51%;
}

nav > p {
  display: inline-block;
  margin-left: 54%;
  font-size: 10px;
  margin-top: 2%;
  color: white;
  font-weight: bold;
}

.box  {
  display: inline-block;
  height: 42px;
  width: 42px;
  text-align: center;
  float: right;
  margin-left: 7px;
  transition: all .5 ease-in-out;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}
.box:hover {
  transform: scale(1.5);
  transform-origin: top right;
  z-index: +2;
  box-shadow: none;
}

.box:nth-child(5):hover{
  transform: none;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}

.box img {
  height:100%;
}


ul#iconbar {
 display: inline-block;
 margin: 0;
 float: right;
 margin-top: 0;
 padding-left: 0;
 width: 32.3%;
}

.smDot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: white;
  margin: 0;
  margin-left: 61%;
  margin-top: 6%;
}
.smDot:nth-child(1){
  margin-top:17%;
}
ul#iconbar li:nth-child(4){
  margin-left: 0;
}
ul#iconbar li:nth-child(5){
  box-shadow: none;
}
div.links {
  height:48%;
}

 ul#redBar {
   display: inline-block;
   margin-left: 0;
   width: 100%;
   padding: 0;
   margin: 0;
   height: 100%;
}
.bars {
  display: inline-block;
  font-size: 0.7em;
  height: 36%;
  width: 24%;
  padding-top: 1%;
  margin-top: .6%;
  margin-right: .7%;
  text-align: center;
  background-color: #B4272D;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
  padding-bottom: 3px;
  color: white;
}
.bars > span {
  margin: 0 13px;
}
ul#redBar li:nth-child(4) {
  margin-right:0;
}

/**********************************************
MAIN IMAGE & CIRCLES
**********************************************/

#topPic {
  background-image: url(images/top-image.png);
  height: 59.4%;
  border: 7px white solid;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  background-size: 149%;
  background-repeat: no-repeat;
  background-position-y: 27%;
  background-position-x: 32%;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}

div.grid {
  width: 100%;
  height: 100%;
  background-image: url(images/grid.png);
  opacity: 0.4;
  position: absolute;
  top: 0%;
  left: 0;
}

div.logo {
  margin-left: 2%;
  margin-top: 5%;
}
.logo img {
  position: absolute;
  height: 70%;
  z-index: +1;
}
 ul#botdot {
    margin-left: 41%;
}

.circles {
  display: inline-block;
  margin: 3px;
  padding: 1px;
  border: 4px white solid;
  background-color: white;
  border-radius: 100%;
  height: 2px;
  width: 2px;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
  transition: all .5 ease-in-out;
}

.circles:hover {
  background-color: #B4272D;
}



/**********************************************
ARTICLES
**********************************************/

.readmore {
  display: inline-block;
  vertical-align: top;
  width: 26.7%;
  margin-left: .3%;
  background-color: #FFFFFF;
  height: 92%;
  font-size: 12px;
  padding-left: 3%;
  padding-right: 3%;
  color: grey;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
  position: relative;

}
.readmore h2 {
  color: black;
  font-size: 1.4em;
  margin-bottom: 6%;
  float: left;
  margin-top: 10%;
}

.readmore:nth-child(1) {
  margin-left: 0;
}

.readmore p:nth-child(2) {
  float: left;
  margin-top: 0%;
  clear: both;
  font-size: 0.8em;
}

.readmore p:nth-child(3) {
  font-size: 0.8em;
  clear: both;
  min-height: 43%;
  line-height: 1.7;
  margin-top: 3%;
  float: left;
  width: 102%;
  margin-bottom: 0;
}

.readmore a {

  font-size: .8em;
  font-weight: bold;
  text-decoration: none;
  color: #B4272D;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 14px;
  left: 0;
}


/**********************************************
ARROW
**********************************************/

#arrow {
  background: #B4272D;
  display: inline-block;
  height: 68px;
  position: relative;
  width: 172px;
  margin-left: 10.5%;
  margin-top: 3.7%;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
  animation: wiggle 1s infinite;
}
#arrow::before{
  border-bottom: 34px solid transparent;
  border-top: 34px solid transparent;
  border-left: 21px solid rgb(180, 39, 45);
  content: "";
  left: 172px;
  position: absolute;
  z-index: +1;
}
#arrow::after {
  border-bottom: 34px solid transparent;
  border-top: 34px solid transparent;
  border-left: 21px solid rgba(148, 148, 148, 0.6);
  content: "";
  left: 172px;
  position: absolute;
  top: 4px;
}

#arrow span {
  color: white;
  text-align: center;
  font-size: 1.1em;
  width: 100%;
  position: absolute;
  margin-top: 15%;
  padding-top: auto;
}
@keyframes wiggle {
  0%,50%,100% {transform: rotate(0)}
  7%,43% {transform: rotate(3deg)}
  14%,36%, {transform: rotate(7deg)}
  25% {transform: rotate(10deg)}
  57%,93% {transform: rotate(-3deg)}
  64%,86%, {transform: rotate(-7deg)}
  75% {transform: rotate(-10deg)}
}
/**********************************************
SKATERS
**********************************************/



.skaters {
  padding: 0;
  position: relative;
}
.sk8 {
  display: inline-block;
  margin-left: 29px;
  height: 280%;
  margin-top: .5%;
  position: absolute;
  padding: 0px;
  width: 51.3%;
}
.sk8 span {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  margin-left: -1%;
  line-height: 31.3%;
  vertical-align: middle;
  font-size: 2.2em;
  margin-top: 17%;
  line-height: 1.2;
  font-weight: bolder;
}

.first {
  display: inline-block;
  width: 31.3%;
  height: 44.6%;
  border: 5px #FFF solid;
  margin-left: -1px;
  background-image: url(images/sk8er-4.png);
  background-size: 140%;
  background-position-x: 90%;
  background-position-y: 39%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}

.second {
  display: inline-block;
  width: 31.3%;
  height: 44.6%;
  border: 5px #FFF solid;
  margin-left: 3px;
  background-image: url(images/sk8er-3.png);
  background-size: 135%;
  background-position-x: 10%;
  background-position-y: -10px;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}

.third {
  display: inline-block;
  width: 31.3%;
  height: 94.6%;
  border: 5px #FFF solid;
  background-image: url(images/sk8er-2.png);
  margin-left: 2px;
  background-size: 255%;
  background-position-x: 78%;
  padding-right: 0px;
  background-repeat: no-repeat;
  margin-right: 0px;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}
.third > span {
position: relative;
top: 25%;
}

.fourth {
  display: inline-block;
  width: 65%;
  height: 44.7%;
  border: 5px #FFF solid;
  margin-left: -1px;
  flat: left;
  position: absolute;
  background-size: 107%;
  top: 174px;
  background-position-y: 69%;
  background-position-x: 13%;
  background-image: url(images/sk8er-1.png);
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}
.fourth > span {
  margin-top: 11%;
  margin-left: 20%;
  font-size: 2em;
}


/**********************************************
SKATEBOARDS
**********************************************/

.boards {
  margin-top: 17%;
  background-color: WHITE;
  height: 13.5%;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6)
}

.boardbar {
  height: 89%;
  margin-top: 1.2%;
  margin-left: 2.9%;
  animation: silly 5s infinite;
}

@keyframes silly {
from {transform: rotateY(0deg);}
to {transform: rotateY(360deg);}
}

/**********************************************
FORMBOX
**********************************************/
.botform {
  margin-left: 24.4%;
  position: absolute;
  margin-top: 1.8%;
  height: 259px;
  background-color: white;
  box-shadow: 0px 4px 0px rgba(148,148,148,0.6);
}

.leftbox {
  position: relative;
  height: 100%;
  display: inline-block;
  width: 47%;
  padding-left: 4%;
}

.leftbox > h2 {
  font-size: 1.1em;
  margin-top: 5%;
}

.leftbox > p {
  font-size: .75em;
  line-height: 1.6;
  color:grey;
}

#iconbar2 {
  float: left;
  margin-left: 0;
  padding-left: 0;
  margin-top:2.1%;
}

.box2 {
  display: inline-block;
  height: 21px;
  width: 21px;
  text-align: center;
  float: right;
  margin-right: 4px;
  margin-left: 0;
  box-shadow: none;
  -webkit-filter: grayscale(1) brightness(0.8);
}
.box2:hover {
  transform: none;
}

.rightbox {
  position: relative;
  height: 100%;
  display: inline-block;
  width: 45.4%;
  float: right;
}

input {
  margin-top: 3.5%;
  height: 10%;
  width: 92%;
  color: lightgrey;
  font-weight: 300;
  font-size: .7em;
  text-align: left;
  vertical-align: text-top;
  padding-left: 3%;
  border-style: groove;
}

input:nth-child(1) {
  margin-top: 7%;
}

input:nth-child(5) {
  height: 11%;
  padding-bottom: 13%;
}

.submit {
  width: 53%;
  margin-left: 40.6%;
  margin-top: 7%;
  height: 11%;
  text-align: center;
  color: white;
  background-color: #B4272D;
  font-size: .9em;
}
