$redbox: #B4272D;
$shadowbox:  0px 4px 0px rgba(148,148,148,0.6);


//Breakpoints //
$breakpoint-full: 1370px;
$breakpoint-large: 1411px;
$breakpoint-med:1500px;
$breakpoint-small: 900px;
$breakpoint-xtra-small:400px;
